

<form action="/inventory/<%=@album.id%>" method="post">

  <label for="artist">artist</label>
  <input type="text" name="artist" value="<%=Artist.find(@album.artist_id).name()%>">


<label for="title">title</label>
<input type="title" name="title" id="title" value="<%=@album.title%>">

<label for="quantity">quantity</label>
<input type="number" name="quantity" value="<%=@album.quantity%>">

<label for="artist_id">artist_id</label>
<input type="number" name="artist_id" value="<%=@album.artist_id%>">

<input type="submit" name="update stock" value="update stock">

</form>
