<h1>Inventory</h1>

<% @albums.each do |album| %>

<p><%= Artist.find(album.artist_id).name() %></p>
<p>Title: <%= album.title() %></p>
<p>quantity: <%= album.quantity %></p>
<p class= stock_level><%=album.stock_level()%></p>

<a href="/inventory/<%=album.id%>/edit">update</a>

<% end %>

<p><a href="/inventory/new">Add to inventory</a></p>
