<h1>Inventory</h1>

<div class="container">

<% @albums.each do |album| %>

<p class= "inventory"><%= Artist.find(album.artist_id).name() %></p>
<p class= "inventory">Title: <%= album.title() %></p>
<p class= "inventory">quantity: <%= album.quantity %></p>
<p class= "inventory"><%=album.stock_level()%></p>


<a class="button" href="/inventory/<%=album.id%>/edit">update</a>
<a class="button" href="/inventory/<%=album.id%>/delete">delete</a>

<% end %>


</div>
